.cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    gap: 5rem;
}

.device img{
    width: 100%;
}

.mas h1{
    font-size:xx-large;
    font-weight: bolder;
}

@media (max-width: 768px) {
    .cont{
    flex-direction: column;
    margin: 2rem;
    }
}