:root {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f9fafb;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}

html {
  scroll-behavior: smooth;
}